.cardVertical {
  position: relative;
  transition: 0.3s ease;
  height: 15rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: var(--BACKGROUND-COLOR);
  background: rgb(0 0 0 / 50%);
  font-weight: 800;
  font-size: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryImage {
  width: 100%;
  height: 100%;
}

.cardVertical:hover {
  transform: scale(1.03);
}
