.cardContainer {
  margin: 0 auto;
  width: 40rem;
  border: 1px solid var(--SECONDARY-COLOR);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listItem {
  width: 35rem;
  font-size: 2rem;
  border: 1px solid var(--SECONDARY-COLOR);
  color: var(--SECONDARY-COLOR);
  padding: 1rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.correct {
  background-color: var(--COLOR-SUCCESS);
  color: var(--COLOR-PRIMARY);
  border: 1px solid var(--COLOR-SUCCESS);
}

.incorrect {
  background-color: var(--COLOR-INCORRECT);
  color: var(--COLOR-PRIMARY);
  border: 1px solid var(--COLOR-INCORRECT);
}

.questionNumber {
  align-self: flex-start;
  font-size: 1.5rem;
}

.btn {
  width: 35rem;
  background-color: var(--SECONDARY-COLOR);
  color: var(--COLOR-PRIMARY);
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    width: 30rem;
  }

  .listItem,
  .btn {
    width: 26rem;
  }
}
