:root {
  --Z-INDEX-10: 10;
  --Z-INDEX-20: 20;
  --COLOR-PRIMARY: #fafafa;
  --COLOR-PRIMARY-ALTERNATIVE: #171717;
  --COLOR-BACKGROUND-OVERLAY: rgb(0 0 0 / 50%);
}

a {
  color: var(--COLOR-PRIMARY-ALTERNATIVE);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
