.cardContainer {
  margin: 0 auto;
  width: 40rem;
  border: 1px solid var(--SECONDARY-COLOR);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listItem {
  width: 35rem;
  font-size: 2rem;
  border: 1px solid var(--SECONDARY-COLOR);
  color: var(--SECONDARY-COLOR);
  padding: 1rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.optionLabel {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--SECONDARY-COLOR);
  color: var(--COLOR-PRIMARY);
  cursor: pointer;
}

.selected {
  background-color: var(--SECONDARY-COLOR);
  color: var(--COLOR-PRIMARY);
}

.questionNumber {
  align-self: flex-start;
  font-size: 1.5rem;
}

.btn {
  width: 35rem;
  background-color: var(--SECONDARY-COLOR);
  color: var(--COLOR-PRIMARY);
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
}
